input {
    position: absolute;
    top: 350px;
    left: 800px;
}

button {
    position: absolute;
    top: 350px;
    left: 1000px;
}

img {
    position: absolute;
    top: 400px;
    left: 800px;
}